# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Angular ---
/dist/
/out-tsc/
.angular/
/coverage/

# --- Env files ---
.env
.env.*     # z. B. .env.production, .env.local

# --- OS/IDE junk ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- Docker ---
docker-compose.override.yml
*.pid

# --- Logs ---
logs/
*.log
log.txt

# --- Database ---
*.sql
mysqldata/
